* {
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
}

body {
    position: relative;
    display : flex ;
    justify-content : center ;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background : #e80202;
    font-family: sans-serif;
}

.container {
    position: absolute;
    width : 100%;
    height: 100%;
    display : flex ;
    justify-content : center ;
    align-items: center;
    h2 {
        color : #fff ;
        text-align: center;
        font-size: 12vw;
        line-height : .6em ;
        z-index: 1000;
        font-weight : 900;
        span {
            font : {
                size : 0.2em ;
                weight : 400 ;
            }
            text-transform: uppercase;
            letter-spacing: 0.4em;
        }
    }

    .block {
        position: absolute;
        width : 50px ;
        height : 100px ;
        background: #e80202;
        box-shadow : 10px 10px 50px rgba(0 , 0 , 0 , 0.2);
    }
}